<div class="cintilla-container">
  <div class="cintilla-izquierda"></div>
  <div class="cintilla-derecha"></div>
  <div class="cintilla"></div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <br>
      <br>
      <h2 class="text-center">Encuesta a empleadores</h2>
      <br>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card center">
        <div class="body">
          <h3>
            Encuesta a empleadores
          </h3>
          <p>
            El presente instrumento se aplica por la Universidad Autónoma de Tamaulipas con el objetivo de fundamentar la pertinencia
            de dos nuevos programas de posgrado a través de la detección de necesidades e interés de los empleadores referente
            a la contratación de especialistas que cuenten con la formación de:
          </p>
          <p>
            <strong>1.-Maestría en Ciencias en Sanidad y Producción Animal.</strong>
          </p>
          <p>
            <strong>2.-Especialidad en Reproducción Animal</strong>
          </p>
          <p>
            Este instrumento se integra por tres secciones:<br>
            <strong> Sección I</strong> Datos generales;<br>

            <strong> Sección II</strong> referente a la Maestría en Ciencias en Sanidad y Producción Animal; y<br>

            <strong> Sección III</strong> corresponde a la “Especialidad en Reproducción Animal”
          </p>
          <p class="text-center">
            <strong>
              Solo le tomará 5 minutos aproximadamente
            </strong>
          </p>
          <h4 class="text-center">Agradecemos su valiosa participación</h4>
          <button class="center" style="text-align: center;
          margin: 0 auto;
          top:10px;
          left: 50%;
          position: relative;
          transform: translate(-50%);" (click)="goToStepOne()" class="btn btn-primary">Continuar...</button>
        </div>
      </div>
    </div>
  </div>
</div>
