<div class="cintilla-container">
  <div class="cintilla-izquierda"></div>
  <div class="cintilla-derecha"></div>
  <div class="cintilla"></div>
</div>
<div class="bg-container"></div>
<div class="logo-container">
  <img src="/assets/img/logouat.JPG" />
</div>
<div class="logo-vet-container">
  <img src="/assets/img/logovet.JPG" />
</div>
<div *ngIf="userResponse" class="container">
  <div class="row">
    <div class="col-lg-12">
      <br>
      <br>
      <h2 class="text-center">Sección 2.-Maestría en Ciencias en Sanidad <br>y Producción
        Animal</h2><br>
      <p>
        Esta maestría tiene el objetivo de formar capital humano competente en las áreas prioritarias y emergentes en
        la medicina veterinaria y en la producción de alimentos de origen animal.
      </p>
      <br>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card center">
        <div class="body">
          <div class="row">
            <div class="col-lg-12">
              <button class="btn btn-default btn-xs push-left" (click)="goBack()">Volver</button><br><br>
              <div class="form-group">
                <h5>7.-Interés por la Maestría</h5>
                <p>
                  ¿Estaría dispuesto(a) a inscribirse en un posgrado para realizar una Maestría en Ciencias en la
                  Sanidad y Producción Animal?
                </p>

                <p>
                  <strong>
                    7.1 A corto plazo
                  </strong>
                </p>
                <div class="form-check">
                  <input class="form-check-input" [(ngModel)]="userResponse.InteresCortoPlazo" type="radio" name="InteresCortoPlazo"
                    id="InteresCortoPlazo" value="1" checked>
                  <label class="form-check-label" for="InteresCortoPlazo">
                    Sí
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" [(ngModel)]="userResponse.InteresCortoPlazo" type="radio" name="InteresCortoPlazo"
                    id="InteresCortoPlazo1" value="2">
                  <label class="form-check-label" for="InteresCortoPlazo1">
                    No
                  </label>
                </div>
                <p>
                  <strong>
                    7.2 A largo plazo
                  </strong>
                </p>
                <div class="form-check">
                  <input class="form-check-input" [(ngModel)]="userResponse.InteresLargoPlazo" type="radio" name="InteresLargoPlazo"
                    id="InteresLargoPlazo" value="1" checked>
                  <label class="form-check-label" for="InteresLargoPlazo">
                    Sí
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" [(ngModel)]="userResponse.InteresLargoPlazo" type="radio" name="InteresLargoPlazo"
                    id="InteresLargoPlazo1" value="2">
                  <label class="form-check-label" for="InteresLargoPlazo1">
                    No
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <h5>7.3. Señale cuál de las siguientes opciones explica la razón de su respuesta a la pregunta anterior.</h5>
            </div>
          </div>
          <div class="row">
            <div *ngFor="let item of groupsReasons" class="col-lg-12" style="margin-top:10px;">

              <h6>{{item.name}}</h6>
              <div *ngFor="let opt of item.options;let i=index" class="form-check">
                <input class="form-check-input" type="checkbox" [(ngModel)]="opt.checked" [value]="opt.value" id="reas-defaultCheck-{{item.id}}-{{i}}">
                <label class="form-check-label" for="reas-defaultCheck-{{item.id}}-{{i}}">
                  {{opt.name}}
                </label>
                <div style="display: inline;margin-left: 10px;" *ngIf="opt.isOther && opt.checked && item.id ===1">
                  <input type="text" placeholder="especifique" [(ngModel)]="userResponse.ReasonsOtherSi" />
                </div>
                <div style="display: inline;margin-left: 10px;" *ngIf="opt.isOther && opt.checked && item.id ===2">
                  <input type="text" placeholder="especifique" [(ngModel)]="userResponse.ReasonsOtherNo" />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <h5>7.4 Disposición de tiempo para cursar sus estudios de Maestría en Ciencias en la Sanidad y
                  Producción (Nota: responder si su respuesta fue afirmativa en la preg. 7)</h5>
                <label class="control-label">
                  Entre semana
                </label>
                <input type="text" [(ngModel)]="userResponse.DisposicionEntreSemana" class="form-control" />
                <label class="control-label">
                  Fin de semana
                </label>
                <input type="text" [(ngModel)]="userResponse.DisposicionFinDeSemana" class="form-control" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <h5>7.5 En qué horario podría cursar sus estudios de Maestría en Ciencias en la Sanidad y Producción
                  (Nota: responder si su respuesta fue afirmativa en la preg. 7)</h5>
                <div class="form-check">
                  <input required [(ngModel)]="userResponse.Horario" class="form-check-input" type="radio" name="Horario"
                    id="Horario" value="1">
                  <label class="form-check-label" for="Horario">
                    Mañana
                  </label>
                </div>
                <div class="form-check">
                  <input required [(ngModel)]="userResponse.Horario" class="form-check-input" type="radio" name="Horario"
                    id="Horario1" value="2">
                  <label class="form-check-label" for="Horario1">
                    Tarde
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <h5>7.6 Modalidad para cubrir sus estudios de Maestría en Ciencias en la Sanidad y Producción (Nota:
                  responder si su respuesta fue afirmativa en la preg. 7)
                </h5>
                <div class="form-check">
                  <input required [(ngModel)]="userResponse.Financiamento" class="form-check-input" type="radio" name="Financiamento"
                    id="Financiamento1" value="1">
                  <label class="form-check-label" for="Financiamento1">
                    Beca
                  </label>
                </div>
                <div class="form-check">
                  <input required [(ngModel)]="userResponse.Financiamento" class="form-check-input" type="radio" name="Financiamento"
                    id="Financiamento2" value="2">
                  <label class="form-check-label" for="Financiamento2">
                    Recursos propios
                  </label>
                </div>
                <div class="form-check">
                  <input required [(ngModel)]="userResponse.Financiamento" class="form-check-input" type="radio" name="Financiamento"
                    id="Financiamento3" value="3">
                  <label class="form-check-label" for="Financiamento3">
                    Otro
                  </label>
                </div>
                <label *ngIf="userResponse.Financiamento==='3'" class="control-label">
                  Especifique
                </label>
                <input type="text" [(ngModel)]="userResponse.FinanciamentoOtro" *ngIf="userResponse.Financiamento==='3'"
                  class="form-control" />
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-lg-12">
              <h5>
                8.- Áreas de interés para su formación
              </h5>
            </div>
          </div>






          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <h5>8.1 Especie animal de interés:</h5>
                <div class="form-check">
                  <input required [(ngModel)]="userResponse.EspecieAnimalInteres" class="form-check-input" type="radio"
                    name="EspecieAnimal" value="1">
                  <label class="form-check-label">
                    Rumiantes
                  </label>
                </div>
                <div class="form-check">
                  <input required [(ngModel)]="userResponse.EspecieAnimalInteres" class="form-check-input" type="radio"
                    name="EspecieAnimal" value="2">
                  <label class="form-check-label">
                    Equinos
                  </label>
                </div>
                <div class="form-check">
                  <input required [(ngModel)]="userResponse.EspecieAnimalInteres" class="form-check-input" type="radio"
                    name="EspecieAnimal" value="3">
                  <label class="form-check-label">
                    Porcinos
                  </label>
                </div>
                <div class="form-check">
                  <input required [(ngModel)]="userResponse.EspecieAnimalInteres" class="form-check-input" type="radio"
                    name="EspecieAnimal" value="4">
                  <label class="form-check-label">
                    Aves
                  </label>
                </div>
                <div class="form-check">
                  <input required [(ngModel)]="userResponse.EspecieAnimalInteres" class="form-check-input" type="radio"
                    name="EspecieAnimal" value="5">
                  <label class="form-check-label">
                    Pequeñas especies
                  </label>
                </div>
                <div class="form-check">
                  <input required [(ngModel)]="userResponse.EspecieAnimalInteres" class="form-check-input" type="radio"
                    name="EspecieAnimal" value="6">
                  <label class="form-check-label">
                    Organismos acuáticos
                  </label>
                </div>
              </div>
            </div>
          </div>




          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <h5>8.2 ¿Cuál de las siguientes áreas sonde interés para su formación en posgrado?</h5>
                <div class="form-check">
                  <input required [(ngModel)]="userResponse.AreaInteresPosgrado" class="form-check-input" type="radio"
                    name="AreaInteresPosgrado" value="1">
                  <label class="form-check-label">
                    Sanidad
                  </label>
                </div>
                <div class="form-check">
                  <input required [(ngModel)]="userResponse.AreaInteresPosgrado" class="form-check-input" type="radio"
                    name="AreaInteresPosgrado" value="2">
                  <label class="form-check-label">
                    Producción animal
                  </label>
                </div>
                <div class="form-check">
                  <input required [(ngModel)]="userResponse.AreaInteresPosgrado" class="form-check-input" type="radio"
                    name="AreaInteresPosgrado" value="3">
                  <label class="form-check-label">
                    Inocuidad Alimentaria
                  </label>
                </div>
              </div>
            </div>
          </div>





          <!-- <div class="row">
            <div *ngFor="let item of groups" class="col-lg-12" style="margin-top:10px;">
              <h5 style="font-weight: normal" [innerHTML]="item.question">
              </h5>
              <div *ngFor="let opt of item.options;let i=index" class="form-check">
                <div *ngIf="opt.textbox">

                  <div style="width:10%;display: inline-block;padding-left: 0.5rem;" class="form-check">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="opt.checked" [value]="opt.value" id="defaultCheck-{{item.id}}-{{i}}">
                    <label class="form-check-label" for="defaultCheck-{{item.id}}-{{i}}">
                      {{opt.name}}
                    </label>
                  </div>
                  <input style="width:30%;display: inline-block" *ngIf="opt.checked" placeholder="Especifique" class="form-control"
                    type="textbox" [(ngModel)]="opt.value" [value]="opt.value" id="defaultCheck-{{item.id}}-{{i}}">
                </div>
                <div *ngIf="!opt.textbox" style="display: inline-block;padding-left: 0.5rem;" class="form-check">
                  <input class="form-check-input" type="checkbox" [(ngModel)]="opt.checked" [value]="opt.value" id="defaultCheck-{{item.id}}-{{i}}">
                  <label class="form-check-label" for="defaultCheck-{{item.id}}-{{i}}">
                    {{opt.name}}
                  </label>
                </div>
              </div>
            </div>
          </div> -->





          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <h5 style="font-weight: normal">9.- ¿Qué recomendaciones haría usted a esta universidad para hacer
                  pertinente nuestra oferta de Maestría en Ciencias en la Sanidad y Producción?</h5>
                <textarea class="form-control" [(ngModel)]="userResponse.RecomendacionesUno"></textarea>
              </div>
            </div>
          </div>
          <button (click)="save()" [disabled]="saving" class="btn btn-primary btn-xs">{{saving ===true ?
            'Guardando...':'Continuar'}}</button>
        </div>
      </div>
    </div>
  </div>

</div>
