<div *ngIf="userResponse" class="container">
  <div class="row">
    <div class="col-lg-12">
      <br>
      <br>
      <h2 class="text-center">Encuesta a empleadores <br>Sección 2.-Maestría en Ciencias de la Sanidad y Producción Animal</h2>
      <br>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card center">
        <div class="body">
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <h5>5.-En su organización ¿laboran empleados con estudios de posgrado?:</h5>
                <div class="form-check">
                  <input class="form-check-input" [(ngModel)]="userResponse.Posgrado" type="radio" name="posgrado" id="posgrado" value="1"
                    checked>
                  <label class="form-check-label" for="posgrado">
                    Si
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" [(ngModel)]="userResponse.Posgrado" type="radio" name="posgrado" id="posgrado1" value="2">
                  <label class="form-check-label" for="posgrado1">
                    No
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" [(ngModel)]="userResponse.Posgrado" type="radio" name="posgrado" id="posgrado2" value="3">
                  <label class="form-check-label" for="posgrado2">
                    No se
                  </label>
                </div>



              </div>
            </div>
            <div *ngIf="posgradoPorQue" class="col-lg-12">
              <div class="form-group">
                <label for="PosgradoPorQue">5.1.-Especifique por que</label>
                <textarea class="form-control" placeholder="¿Por que?" name="PosgradoPorQue" [(ngModel)]="userResponse.PosgradoPorQue" id="PosgradoPorQue"
                  rows="3"></textarea>
                <p>
                  * Escriba por que...
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <h5>6.-Interés por la Maestría</h5>
                <p>
                  ¿Estaría dispuesto a contratar a capital humano que cuenten con Maestría en Ciencias de la Sanidad y Producción Animal?
                </p>

                <span>
                  6.1.-A corto plazo (Antes de un año)
                </span><br>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" [(ngModel)]="userResponse.MaestriaCortoPlazo" type="radio" name="maestriaC" id="maestriaC"
                    value="1" checked>
                  <label class="form-check-label" for="exampleRadios1">
                    Si
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" [(ngModel)]="userResponse.MaestriaCortoPlazo" type="radio" name="maestriaC" id="maestriaC1"
                    value="2" checked>
                  <label class="form-check-label" for="exampleRadios1">
                    No
                  </label>
                </div>
                <br>
                <span>
                  6.2.-A largo plazo (Más de un año)
                </span><br>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" [(ngModel)]="userResponse.MaestriaLargoPlazo" type="radio" name="maestriaL" id="maestriaL"
                    value="1" checked>
                  <label class="form-check-label" for="maestriaL">
                    Si
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" [(ngModel)]="userResponse.MaestriaLargoPlazo" type="radio" name="maestriaL" id="maestriaL"
                    value="2">
                  <label class="form-check-label" for="maestriaL1">
                    No
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
