<div class="cintilla-container">
  <div class="cintilla-izquierda"></div>
  <div class="cintilla-derecha"></div>
  <div class="cintilla"></div>
</div>
<div class="bg-container"></div>
<div class="logo-container">
  <img src="/assets/img/logouat.JPG" />
</div>
<div class="logo-vet-container">
  <img src="/assets/img/logovet.JPG" />
</div>
<div class="title-container">
  <h1 class="text-center">Encuestas Cinotam</h1>
</div>
<div *ngIf="userResponse" class="container">
  <div class="row">
    <div class="col-lg-12">
      <br>
      <br>
      <h2 class="text-center">Encuesta a empleadores <br>Sección 2.-Maestría en Ciencias en Sanidad y Producción Animal</h2>
      <p>
        Esta maestría tiene el objetivo de formar capital humano competente en las áreas prioritarias y emergentes en
        la medicina
        veterinaria y en la producción de alimentos de origen animal. La maestría tiene diferentes áreas temáticas:
        medicina
        veterinaria, organismos acuáticos y producción y tecnología de los productos pecuarios.
      </p>
      <br>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card center">
        <div class="body">
          <div class="row">
            <div class="col-lg-12">
              <button class="btn btn-default btn-xs push-left" (click)="goBack()">Volver</button><br><br>
              <div class="form-group">
                <h5>6.-En su organización ¿laboran empleados con estudios de posgrado?:</h5>
                <div class="form-check">
                  <input class="form-check-input" [(ngModel)]="userResponse.Posgrado" type="radio" name="posgrado" id="posgrado"
                    value="1" checked>
                  <label class="form-check-label" for="posgrado">
                    Si
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" [(ngModel)]="userResponse.Posgrado" type="radio" name="posgrado" id="posgrado1"
                    value="2">
                  <label class="form-check-label" for="posgrado1">
                    No
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" [(ngModel)]="userResponse.Posgrado" type="radio" name="posgrado" id="posgrado2"
                    value="3">
                  <label class="form-check-label" for="posgrado2">
                    No se
                  </label>
                </div>



              </div>
            </div>
            <div *ngIf="posgradoPorQue" class="col-lg-12">
              <div class="form-group">
                <label for="PosgradoPorQue">Especifique por que</label>
                <textarea class="form-control" placeholder="¿Por que?" name="PosgradoPorQue" [(ngModel)]="userResponse.PosgradoPorQue"
                  id="PosgradoPorQue" rows="3"></textarea>
                <p>
                  * Escriba por que...
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <h5>7.-¿Estaría dispuesto a contratar a capital humano que cuenten con Maestría en Ciencias de la
                  Sanidad
                  y Producción Animal?</h5>
                <span>
                  7.1.-A corto plazo (Antes de un año)
                </span><br>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" [(ngModel)]="userResponse.MaestriaCortoPlazo" type="radio" name="maestriaC"
                    id="maestriaC" value="1" checked>
                  <label class="form-check-label" for="exampleRadios1">
                    Si
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" [(ngModel)]="userResponse.MaestriaCortoPlazo" type="radio" name="maestriaC"
                    id="maestriaC1" value="2" checked>
                  <label class="form-check-label" for="exampleRadios1">
                    No
                  </label>
                </div>
                <br>
                <span>
                  7.2.-A largo plazo (Más de un año)
                </span><br>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" [(ngModel)]="userResponse.MaestriaLargoPlazo" type="radio" name="maestriaL"
                    id="maestriaL" value="1" checked>
                  <label class="form-check-label" for="maestriaL">
                    Si
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" [(ngModel)]="userResponse.MaestriaLargoPlazo" type="radio" name="maestriaL"
                    id="maestriaL" value="2">
                  <label class="form-check-label" for="maestriaL1">
                    No
                  </label>
                </div>
              </div>
            </div>
          </div>




          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <h5>8.-Especie animal de interés</h5>
                <div class="form-check">
                  <input class="form-check-input" [(ngModel)]="userResponse.AnimalInteres" type="radio" name="AnimalInteres"
                    id="AnimalInteres" value="1" checked>
                  <label class="form-check-label" for="AnimalInteres">
                    Animales de Compañía
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" [(ngModel)]="userResponse.AnimalInteres" type="radio" name="AnimalInteres"
                    id="AnimalInteres1" value="2">
                  <label class="form-check-label" for="AnimalInteres1">
                    Aves
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" [(ngModel)]="userResponse.AnimalInteres" type="radio" name="AnimalInteres"
                    id="AnimalInteres2" value="3">
                  <label class="form-check-label" for="AnimalInteres2">
                    Bovinos
                  </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" [(ngModel)]="userResponse.AnimalInteres" type="radio" name="AnimalInteres"
                    id="AnimalInteres3" value="4">
                  <label class="form-check-label" for="AnimalInteres3">
                    Cerdos
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" [(ngModel)]="userResponse.AnimalInteres" type="radio" name="AnimalInteres"
                    id="AnimalInteres4" value="5">
                  <label class="form-check-label" for="AnimalInteres4">
                    Caprinos
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" [(ngModel)]="userResponse.AnimalInteres" type="radio" name="AnimalInteres"
                    id="AnimalInteres5" value="6">
                  <label class="form-check-label" for="AnimalInteres5">
                    Equinos
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" [(ngModel)]="userResponse.AnimalInteres" type="radio" name="AnimalInteres"
                    id="AnimalInteres6" value="7">
                  <label class="form-check-label" for="AnimalInteres6">
                    Ovinos
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" [(ngModel)]="userResponse.AnimalInteres" type="radio" name="AnimalInteres"
                    id="AnimalInteres7" value="8">
                  <label class="form-check-label" for="AnimalInteres7">
                    Organismos acuáticos
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" [(ngModel)]="userResponse.AnimalInteres" type="radio" name="AnimalInteres"
                    id="AnimalInteres8" value="9">
                  <label class="form-check-label" for="AnimalInteres8">
                    Otro
                  </label>
                </div>
              </div>
            </div>


            <div *ngIf="userResponse.AnimalInteres==9" class="col-lg-12">
              <div class="form-group">
                <label for="PosgradoPorQue">Especifique</label>
                <textarea class="form-control" placeholder="" name="AnimalInteresOtro" [(ngModel)]="userResponse.AnimalInteresOtro"
                  id="AnimalInteresOtro" rows="3"></textarea>
              </div>
            </div>
          </div>



          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <h5>9.-Área de interés.</h5>
                <div class="form-check">
                  <input required [(ngModel)]="userResponse.AreaDeInteres" class="form-check-input" type="radio" name="AreaDeInteres"
                    id="AreaDeInteres" value="1" checked>
                  <label class="form-check-label" for="AreaDeInteres">
                    Sanidad
                  </label>
                </div>
                <div class="form-check">
                  <input required [(ngModel)]="userResponse.AreaDeInteres" class="form-check-input" type="radio" name="AreaDeInteres"
                    id="AreaDeInteres1" value="2">
                  <label class="form-check-label" for="AreaDeInteres1">
                    Zootecnia
                  </label>
                </div>
                <div class="form-check">
                  <input required [(ngModel)]="userResponse.AreaDeInteres" class="form-check-input" type="radio" name="AreaDeInteres"
                    id="AreaDeInteres2" value="3">
                  <label class="form-check-label" for="AreaDeInteres2">
                    Investigación básica
                  </label>
                </div>
                <div class="form-check">
                  <input required [(ngModel)]="userResponse.AreaDeInteres" class="form-check-input" type="radio" name="AreaDeInteres"
                    id="AreaDeInteres3" value="4">
                  <label class="form-check-label" for="AreaDeInteres3">
                    Otra
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="userResponse.AreaDeInteres==4" class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <p>Especificar</p>
                <input class="form-control" type="text" [(ngModel)]="userResponse.AreaDeInteresOtro" />
              </div>
            </div>
          </div>

          <div class="row">
            <div *ngFor="let item of groups" class="col-lg-12" style="margin-top:10px;">
              <h5 style="font-weight: normal" [innerHTML]="item.question">
              </h5>
              <div *ngFor="let opt of item.options;let i=index">

                <div *ngIf="opt.textbox">
                  <!-- <p>
                    {{opt.name}}
                  </p> -->
                  <div style="width:10%;display: inline-block" class="form-check">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="opt.checked" [value]="opt.value" id="defaultCheck-{{item.id}}-{{i}}">
                    <label class="form-check-label" for="defaultCheck-{{item.id}}-{{i}}">
                      {{opt.name}}
                    </label>
                  </div>
                  <input style="width:30%;display: inline-block" *ngIf="opt.checked" placeholder="Especifique" class="form-control" type="textbox" [(ngModel)]="opt.value"
                    [value]="opt.value" id="defaultCheck-{{item.id}}-{{i}}">
                </div>
                <div *ngIf="!opt.textbox" class="form-check">
                  <input class="form-check-input" type="checkbox" [(ngModel)]="opt.checked" [value]="opt.value" id="defaultCheck-{{item.id}}-{{i}}">
                  <label class="form-check-label" for="defaultCheck-{{item.id}}-{{i}}">
                    {{opt.name}}
                  </label>
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <h5 style="font-weight: normal">14.Marque una razón por lo que considera de utilidad contar con capital
                  humano
                  con estudios de Maestría en Ciencias en Sanidad y Producción Animal</h5>
                <div class="form-check">
                  <input class="form-check-input" type="radio" [(ngModel)]="userResponse.Utilidad" value="1" id="utilidad1">
                  <label class="form-check-label" for="utilidad1">
                    Mejor toma de decisiones
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" [(ngModel)]="userResponse.Utilidad" value="2" id="utilidad2">
                  <label class="form-check-label" for="utilidad2">
                    Mayor especialización
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" [(ngModel)]="userResponse.Utilidad" value="3" id="utilidad3">
                  <label class="form-check-label" for="utilidad3">
                    Mejor desempeño laboral
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" [(ngModel)]="userResponse.Utilidad" value="4" id="utilidad4">
                  <label class="form-check-label" for="utilidad4">
                    Mayor conocimiento y preparación
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" [(ngModel)]="userResponse.Utilidad" value="5" id="utilidad5">
                  <label class="form-check-label" for="utilidad4">
                    Mayor competitividad
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <h5 style="font-weight: normal">15.-¿Qué recomendaciones haría usted a esta universidad para hacer
                  pertinente
                  nuestra oferta de Maestría en Ciencias en Sanidad y Producción Animal?</h5>
                <textarea class="form-control" [(ngModel)]="userResponse.Recomendaciones"></textarea>
              </div>
            </div>
          </div>
          <br><br>
          <button (click)="save()" [disabled]="saving" class="btn btn-success btn-xs">{{saving ===true ?
            'Guardando...':'Continuar'}}</button>
        </div>
      </div>
    </div>
  </div>

</div>
